### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc


### Virtual Environments ###
.venv/
venv/
ENV/

### IDE ###
.vscode/
.idea/

### OS ###
.DS_Store
Thumbs.db

### Project Specific ###
# 만약 로그 파일이 생성된다면 제외
*.log


# ess-simulator 가상환경
/simulator/ess-simulator/.venv/

# 설계문서
설계문서/


# simulator에 추가되는 edge, devices, topology
simulator/simulator-manager/edges/
simulator/topology/topology.yaml